.container--outer {
  background: $color-primary;
  border-radius: 10px;
}

.container--inner {
  background: green;
}

.container--boxes {
  background: gray;
  .box {
    background: green;
    font-size: 2.5rem;
  }
}