.container--outer {
  background: $color-primary;
  border-radius: 10px;
}

.player-one-turn {
  background: $player-one-color;
  color: white;
}

.player-two-turn {
  background: $player-two-color;
  color: white;
}

.game--message {
  background: rgba(0,0,0,0.75);
}

.container--inner {
  background: green;
  color: white;
}

.container--boxes {
  background: gray;
  .box {
    background: green;
    font-size: 2.5rem;
  }
}