// ==========================================================================
// Helpers
// ==========================================================================

// Center alignment

%center-align {
	text-align: center;
}

// For pseudo-elements

%pseudos {
  display: block;
  content: ''; 
  position: absolute;
}