#root {
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--outer {
  position: relative;
  @media screen and (orientation: portrait) {
    width: 90%;
  }
  @media screen and (orientation: landscape) {
    width: 50%;
  }
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.bar {
  &__player-one,
  &__player-two,
  &__reset-button {
    position: absolute;
    top: 3%;
  }
  &__player-one {
    left: 20%;
  }
  &__player-two {
    left: 40%;
  }
  &__reset-button {
    right: 10%;
  }
}

.container--inner {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.game {
  &--type {
    @extend %full;
    @extend %game-default;
    flex-direction: column;
    .container--buttons
    button {
      font-size: 1.25rem;
    }
  }
  &--XorO {
    @extend %full;
    @extend %game-default;
    flex-direction: column;
    .container--buttons {
      display: flex;
      justify-content: center;
      button {
        width: 25%;
        margin: 0;
      }
    }
  }
  &--board {
    @extend %full;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container--boxes {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
  }
}